@page
@model WebAppFAM.Pages.Drivers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Driver Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.SecondName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.SecondName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.CellNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.CellNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.PDPExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.PDPExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.MedicalExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.MedicalExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.PassportNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.PassportNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.IDNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.IDNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.NextofKin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.NextofKin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver.NextofKinDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.NextofKinDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Driver.DriverID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
