@page
@model WebAppFAM.Pages.SubContractors.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubContractor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubContractor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubContractor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubContractor.AccountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubContractor.AccountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubContractor.CreatedUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubContractor.CreatedUtc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubContractor.SubContractorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
