@page
@model WebAppFAM.Pages.SubContractors.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubContractor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubContractor[0].AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubContractor[0].CreatedUtc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubContractor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubContractorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubContractorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubContractorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
